<div *ngIf="isLoading" class="spinner-container">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<div *ngIf="!isLoading">
  <div class="container">
    <div class="heading-container">
      <span [routerLink]="['/dashboard/home']" class="home-span">Home</span>
      / My cart
    </div>

    <div class="cart-containers">
      <p>My cart ({{ quantity }})</p>
    </div>

    <div *ngIf="cartItems.length > 0; else emptyCart">
      <div class="cart-card">
        <div class="cart-item" *ngFor="let item of cartItems">
          <img [src]="item.book?.bookImage" alt="Book Image" />
          <div class="cart-item-details">
            <div class="title">{{ item.book?.bookName }}</div>
            <div class="author">{{ item.book?.author }}</div>
            <div class="price">
              <span class="current-price">Rs. {{ item.book?.discountPrice }}</span>
              <span class="original-price">Rs. {{ item.book?.price }}</span>
            </div>
            <div class="quantity-control">
              <button (click)="decreaseQuantity(item)" class="cartbuttons">-</button>
              <span id="qty">{{ item.quantity }}</span>
              <button (click)="increaseQuantity(item)" class="cartbuttons">+</button>

              <span class="remove-span" (click)="removeItem(item)">Remove</span>
            </div>
          </div>
        </div>

        <div class="place-order-wrapper">
          <button class="place-order" *ngIf=" !showCustomerDetails" (click)="onPlaceOrderClick()">PLACE ORDER</button>
        </div>
      </div>
    </div>

    <ng-template #emptyCart>
      <p class="empty-message">Your cart is empty.</p>
    </ng-template>

    <div class="customer-card">
      <div *ngIf="!showSummary && !showCustomerDetails">
        <h3>Address Details</h3>
      </div>
      <div *ngIf="showCustomerDetails && !showSummary">
        <h3>Customer Details</h3>
        <form [formGroup]="customerForm" (ngSubmit)="onContinue()" class="customer-details-form">

          <mat-form-field appearance="outline" class="half-width input-place">
            <mat-label>Full Name</mat-label>
            <input matInput formControlName="fullName" placeholder="Enter your full name" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width input-place">
            <mat-label>Mobile Number</mat-label>
            <input matInput formControlName="mobileNumber" placeholder="Enter mobile number" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width address-place">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address" placeholder="Enter your address"></textarea>
          </mat-form-field>

          <div class="row">
            <mat-form-field appearance="outline" class="half-width input-place">
              <mat-label>State</mat-label>
              <input matInput formControlName="state" placeholder="Enter state" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="half-width input-place">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" placeholder="Enter city" />
            </mat-form-field>
          </div>

          <div class="full-width input-place">
            <label class="radio-label">Address Type:</label>
            <mat-radio-group formControlName="Type" class="radio-group">
              <mat-radio-button value="Home">Home</mat-radio-button>
              <mat-radio-button value="Work">Work</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="place-order-wrapper">
            <button class="place-order" type="submit">Continue</button>
          </div>
        </form>
      </div>
    </div>
    <div class="summary-card">
      <h3>Summary</h3>

      <ng-container *ngIf="showSummary; else summaryHeadingOnly">
        <div class="cart-item" *ngFor="let item of cartItems">
          <img [src]="item.book?.bookImage" alt="Book Image" />
          <div class="cart-item-details">
            <div class="title">{{ item.book?.bookName }}</div>
            <div class="author">{{ item.book?.author }}</div>
            <span class="current-price">
              {{ item.quantity }}
            </span>
            <div class="price">
              <span class="current-price">
                Rs. {{ item.book?.discountPrice * item.quantity }}
              </span>
              <span class="original-price">
                Rs. {{ item.book?.price * item.quantity }}
              </span>
            </div>
          </div>
        </div>
        <div class="summary-total-checkout">
          <div class="total-amount">
            <h4>Total Order Amount: Rs. {{ totalDiscountPrice }}</h4>
          </div>
          <div class="place-order-wrapper">
            <button class="place-order" (click)="checkout()">Checkout</button>
          </div>
        </div>
      </ng-container>

      <ng-template #summaryHeadingOnly>
        <p>Fill your address details to view order summary.</p>
      </ng-template>
    </div>

    <ng-template #emptyCart>
      <p class="empty-message">Your cart is empty.</p>
    </ng-template>

  </div>
</div>