<div>

    <mat-toolbar color="primary" class="header-toolbar">
        <a [routerLink]="['/dashboard']">
            <img src="https://public-v2links.adobecc.com/d096df37-ca37-4026-553f-8cfa6bec09ec/component?params=component_id%3A34a6421f-a569-47b8-bc37-078211517464&params=version%3A0&token=1747273348_da39a3ee_24b11a980620d9e0502f17660a4f5a0bfc90c416&api_key=CometServer1"
                alt="Bookstore Logo"/>
        </a>
        <span>Bookstore</span>
        <div class="search-wrapper ">
            <div class="search-bar">
                <mat-icon>search</mat-icon>
                <input type="text" placeholder="Search" />
            </div>
        </div>

        <span class="example-spacer"></span>
        <div class="icon-group">
            <button class="icon-button">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </button>

            <button class="icon-button">
                <mat-icon>shopping_cart</mat-icon>
                <span>Cart</span>
            </button>
        </div>
    </mat-toolbar>

    <footer class="footer">
  <span>Copyright © 2020, Bookstore Private Limited. All Rights Reserved</span>
</footer>

</div>