<div class="container">
    <mat-toolbar color="primary" class="header-toolbar">
        <a>
            <img src="https://public-v2links.adobecc.com/d096df37-ca37-4026-553f-8cfa6bec09ec/component?params=component_id%3A6a559a8a-8ca5-4bf2-9f76-bb2d51e33b9f&params=version%3A0&token=1747723748_da39a3ee_dab04c4cdf86428bb9bed4ab03c36c256216e1c7&api_key=CometServer1"
                alt="Bookstore Logo"/>
        </a>
          <span class="title">Bookstore</span>
        <div class="search-wrapper ">
            <div class="search-bar">
                <mat-icon>search</mat-icon>
                <input type="text" placeholder="Search" 
                [(ngModel)]="searchTerm"
                (input)="onSearchChange()"
                />
            </div>
        </div>

        <span class="example-spacer"></span>
        <div class="icon-group">
            <button class="icon-button" [matMenuTriggerFor]="ProfileMenu">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </button>
            
            <button class="icon-button" (click)="goToCart()" [routerLink]="['cart']" [matBadge]="cartCount"
                matBadgeOverlap="false" [matBadgeHidden]="cartCount === 0">
                <mat-icon>shopping_cart</mat-icon>
                <span>Cart</span>
            </button>
        </div>
    </mat-toolbar>
<mat-menu #ProfileMenu="matMenu">
    <button mat-menu-item (click)="MyOrders()">
      <mat-icon>receipt_long</mat-icon>
      Myorders
    </button>
    <button mat-menu-item (click)="wishList()">
      <mat-icon>favorite</mat-icon>
      wishList
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </mat-menu>
  <!-- <app-display-books></app-display-books> -->
   
  <router-outlet></router-outlet>
<footer class="footer">
  <span>Copyright © 2020, Bookstore Private Limited. All Rights Reserved</span>
</footer>

</div>